<!-- audio component -->
 <div class="audioComp">
        <h2 class="audio11">Audio </h2>
</div>
<div class="videobox">
    <div class="video-wrapper">
    <!-- linking audio file -->
    <audio id="audio" src="/asset/audio/radiohead.mp3" controls>
        <track default kind="captions" srclang="en" src="/asset/audio_subtitle/audio2vtt.vtt" />
    </audio>
      <button class="transcript-btn">subtitles</button>
</div>
       
      <section class="transcript hidden">
        <h3 class="hidden">Transcript</h3>
        <blockquote class="blockquote text-center">
        <p class="mb-0">
            <p>A heart that's full up like a landfill</p>
        </p>A job that slowly kills you</p>
<p>Bruises that won't heal</p>
<p>You look so tired, unhappy</p>
<p>Bring down the government</p>
<p>They don't, they don't speak for us</p>
<p>I'll take a quiet life</p>
<p>A handshake of carbon monoxide</p>
<p>And no alarms and no surprises</p>
<p>No alarms and no surprises</p>
<p>No alarms and no surprises</p>
<p>Silent, silent</p>
<p>This is my final fit</p>
<p>My final bellyache</p>
<p>With no alarms and no surprises</p>
<p>No alarms and no surprises</p>
<p>No alarms and no surprises, please</p>
<p>Such a pretty house</p>
<p>And such a pretty garden</p>
<p>No alarms and no surprises (get me out of here)</p>
<p>No alarms and no surprises (get me out of here)</p>
<p>No alarms and no surprises, please (get me out of here) </p>

        </blockquote>
    </section>
</section>
