<div class="audioComp">
    <h2 class="audio11">Video </h2>
</div>
<div class="videobox">
     <div class="video-wrapper">
      <video id="video-player" class="video-player" controls crossorigin>
        <source src="/asset/video/radiohead.mp4" type="video/mp4">
           <track default kind="captions" srclang="en" src="/asset/video_subtitle/subtitle1.vtt" />
      </video> 
    <!-- Ion icon for cc -->
        <button class="captions"  data-button="0" aria-label="Toggle Video Captions">SUBTITLES<i class="icon ion-ios-closed-captioning"></i></button>
</div>
   
</div>

